$color-bg-1: #ECEFF4;
$color-bg-2: #E5E9F0;
$color-bg-3: #D8DEE9;
$color-blue-1: #8FBCBB;
$color-blue-2: #88C0D0;
$color-blue-3: #81A1C1;

$color-blue: #5E81AC;
$color-red: #BF616A;
$color-orange: #D08770;
$color-yellow: #EBCB8B;
$color-green: #A3BE8C;
$color-purple: #B48EAD;

$base-color: #88C0D0;
$base-color-dark: #5E81AC;

$colors: ("blue": $color-blue,
          "red": $color-red,
          "yellow": $color-yellow,
          "orange": $color-orange,
          "green": $color-green,
          "purple": $color-purple);

#content {
    @each $name, $color in $colors {
        div.#{$name} {
            div.block {
                background: scale-color($color, $lightness: 30%);
            }
            p.customtitle {
                background: scale-color($color, $lightness: -30%);
            }
        }
    }

    .block {
        padding: 12px;
        line-height: 24px;
        margin-bottom: 24px;
        background: $color-bg-1;
    }
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .first {
        margin-top: 0;
    }
    .last {
        margin-bottom: 0;
    }
    .customtitle {
        line-height: 1;
        font-weight: bold;
        display: block;
        color: #FFF;
        padding: 6px 12px;
        margin-bottom: 0px;
        i {
            margin-right: 10px;
        }
    }
}
