$black: #0a0a0a !default;
$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$gray: #cacaca !default;
$dark-gray: #8a8a8a !default;

$color-bg-1: #eceff4;
$color-bg-2: #e5e9f0;
$color-bg-3: #d8dee9;
$color-blue-1: #8fbcbb;
$color-blue-2: #88c0d0;
$color-blue-3: #81a1c1;

$color-blue: #5e81ac;
$color-red: #bf616a;
$color-orange: #d08770;
$color-yellow: #ebcb8b;
$color-green: #a3be8c;
$color-purple: #b48ead;

$base-color: #88c0d0;
$base-color-dark: #5e81ac;
